<!--  -->

<section ng-controller="TodoCtrl">
	<h1>todos</h1>
	<form id="todo-form" class="form-inline" ng-submit="addTodo()">
		<div class="form-group">
			<input id="new-todo" class="form-control" type="text" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
		</div>
	</form>
	<section id="main" ng-show="todos.length">
		<h4>List of tasks</h4>
		<ul id="todo-list" style="list-style: none;">
			<li ng-repeat="todo in todos">
				<form class="form-inline" autofocus>
				    <input type="checkbox" ng-model="todo.completed">
					<input id="todotitle" type="text" class="form-control" ng-model="todo.title">
					<button class="btn btn-small btn-success" ng-click="doneEditing(todo)">Change</button>
					<button class="btn btn-small btn-primary" ng-click="moveUp(todo)">up</button>
					<button class="btn btn-small btn-primary" ng-click="moveDown(todo)">down</button>
				 	<button class="btn btn-small btn-danger" ng-click="removeTodo(todo)">Remove</button>
				</form>
			</li>
		</ul>
	</section>
</section>