<!--  -->

<section ng-controller="TodoCtrl">
	<h1>todos</h1>
	<form id="todo-form" class="form-inline" ng-submit="addTodo()">
		<div class="form-group">
			<input id="new-todo" class="form-control" type="text" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
		</div>
	</form>
	<section id="main" ng-show="todos.length">
		<ul id="todo-list" style="list-style: none;">
			<li ng-repeat="todo in todos">
				<form class="form-inline" ng-submit="doneEditing(todo)">
				    <label class="checkbox"><input type="checkbox">Done</label>
						<!-- <form ng-submit="doneEditing(todo)"> -->
						<input id="todotitle" type="text" class="input-large" ng-model="todo.title">
						<!-- </form> -->
				 		<button class="btn btn-small btn-primary" ng-click="removeTodo(todo)">Remove</button>
				</form>
			</li>
		</ul>
	</section>
</section>